<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<title>商品中心 - 逸家盛宇办公家具</title>
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/third/awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/hui.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/public.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/goods/index.css"/>
	</head>
	<body>
		<include file="Public:head" />
		
		<div class="container">
			<div class="line">
				<div class="flex-flex-1 block-indicate">
					您的位置：
					<a href="__MODULE__/Index/index">首页</a>
					&nbsp;<i class="icon-double-angle-right"></i>&nbsp;
					<a href="__MODULE__/Goods/index">商品中心</a>
					&nbsp;<i class="icon-double-angle-right"></i>&nbsp;
					<span>全部商品</span>
				</div>
			</div>
			
			<div class="line margin-tb-20px">
				<div class="block-left">
					<div class="item type">
						<div class="title">商品分类</div>
						<div class="cn">
							<a href="">全部</a>
							<a href="">班椅</a>
							<a href="">职员椅</a>
							<a href="">老板椅</a>
							<a href="">老板椅</a>
							<a href="">老板椅</a>
							<a href="">老板椅</a>
						</div>
					</div>
					<div class="item browsed">
						<div class="title">您浏览过的商品</div>
						<div class="cn">
							<for start="1" end="7">
								<div class="goods">
									<a href="">
										<img src="http://i3.mifile.cn/a4/f43035f0-7b18-442c-a022-4708829a67e5"/>
									</a>
									<div class="name">
										<a href="#">东风雪铁龙中华店-eeeeeee</a>
									</div>
									<div class="price">99.00元</div>
								</div>
								</for>
						</div>
					</div>
				</div>
				<div class="flex-flex-1 flex-row-start flex-wrap flex-align-content-start block-goods">
					<for start="1" end="10">
						<div class="item flex-row-start">
							<div class="cn flex-flex-1">
								<a href="#">
									<img src="http://i3.mifile.cn/a4/f43035f0-7b18-442c-a022-4708829a67e5"/>
								</a>	
								<div class="name">
									<a href="#">东风雪铁龙中华店-eeeeeee</a>
								</div>
								<div class="price">99.00元</div>
							</div>
						</div>
					</for>
				</div>
			</div>
		</div>
		
		<include file="Public:foot" />
	</body>
</html>
