<div class="block-foot">
	<div class="container promise">
		<div class="line flex-justify-content-sb">
			<a class="item">
				<b class="b1"></b>
				<p><span>0</span>运费购家具</p>
			</a>
			<a class="item">
				<b class="b2"></b>
				<p><span>30</span>天无理由退货</p>
			</a>
			<a class="item">
				<b class="b3"></b>
				<p>电子发票</p>
			</a>
			<a class="item">
				<b class="b4"></b>
				<p>原厂品质</p>
			</a>
		</div>
	</div>
	<div class="container help">	
		<div class="line flex-justify-content-sb">
			<dl>
				<dt><b class="b1"></b>购买流程</dt>
				<dd><a href="#">· 新手入门</a></dd>
				<dd><a href="#">· 支付宝支付</a></dd>
				<dd><a href="#">· 发票说明</a></dd>
			</dl>
			<dl>
				<dt><b class="b2"></b>配送方式</dt>
				<dd><a href="#">· 配送方式</a></dd>
				<dd><a href="#">· 配送费用</a></dd>
				<dd><a href="#">· 签收须知</a></dd>
			</dl>
			<dl>
				<dt><b class="b3"></b>服务支持</dt>
				<dd><a href="#">· 服务保证</a></dd>
				<dd><a href="#">· 售后服务</a></dd>
				<dd><a href="#">· 售后网点查询</a></dd>
			</dl>
			<dl>
				<dt><b class="b4"></b>品牌服务</dt>
				<dd><a href="#">· 常见问题</a></dd>
				<dd><a href="#">· 相关下载</a></dd>
				<dd><a href="#">· 联系我们</a></dd>
			</dl>
			<dl>
				<dt><b class="b5"></b>联系我们</dt>
				<dd>周一至周五 08:00-21:00</dd>
				<dd>周六、周日 09:00-18:00</dd>
				<dd>
					<a href="">
						<img src="__PUBLIC__/img/online-service.png" alt="在线客服"/>
					</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="container copyright">
		<div class="line">
			<div class="logo">
				<a href="__MODULE__/Index/index">
					<img src="__PUBLIC__/img/logo.png"/>
				</a>
			</div>
			<div>
				<p>Copyright ©2011-2016 广东步步高电子工业有限公司</p>
				<p>版权所有 保留一切权利粤B2-20080267 | 粤ICP备05100288号</p>
			</div>
		</div>
	</div>
</div>