<div class="container block-recommend">
	<ul class="line flex-justify-content-sb">
		<li class="pre"></li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/img/hz.jpg" alt="" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/img/hz.jpg" alt="" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/img/hz.jpg" alt="" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/img/hz.jpg" alt="" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="__PUBLIC__/img/hz.jpg" alt="" />
			</a>
		</li>
		<li class="next"></li>
	</ul>
</div>