<div class="pageContent">
	<form method="post" action="__CONTROLLER__/insert"
	 class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
			<div class="unit">
				<label>标题：</label>
				<input type="text" name="title" class="required" maxlength="20" size="30" />
			</div>
			<div class="unit">
				<label>类目：</label>
				<select class="combox" name="categoryid">
					<volist id="vo" name="category">
						<option value="{$vo.id}">{$vo.categoryzh}</option>
					</volist>
				</select>
			</div>
			<div class="unit">
				<label>卖点：</label>
				<input type="text" name="usp" class="required" maxlength="20" size="100" />
			</div>
			<div class="unit">
				<label>规格：</label>
				<input type="text" name="specs" class="required" maxlength="20" size="100" />
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">Submit</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">Cancel</button></div></div></li>
			</ul>
		</div>
	</form>
</div>